<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lerobot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import lerobot urdf file -->
    <xacro:include filename="$(find lerobot_description)/urdf/lerobot.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="lerobot.ros2_control.xacro" />


    <xacro:lerobot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
