<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lerobot">
    <xacro:macro name="ros2_control" params="ros2_control_hardware_type usb_port">
    <xacro:property name="PI" value="3.14159"/>

        <ros2_control type="system" name="RobotSystem">
            <!-- Set hardware plugins accordingly -->
            <hardware>
                <xacro:if value="${ros_control_hardware_type == 'mock_components'}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>
                <xacro:if value="${ros_control_hardware_type == 'real'}">
                    <plugin>feetech_ros2_driver/FeetechHardwareInterface</plugin>
                    <param name="usb_port">${usb_port}</param>
                </xacro:if>
            </hardware>

            <joint name="shoulder_pan">
                <param name="id">1</param>
                <param name="initial_position">0.0</param>
                <param name="p_coeff">8</param>
                <param name="offset">941</param>
                <command_interface name="position"/>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

            <joint name="shoulder_lift">
                <param name="id">2</param>
                <param name="initial_position">0.0</param>
                <param name="p_coeff">16</param>
                <param name="offset">669</param>
                <command_interface name="position"/>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

            <joint name="elbow_flex">
                <param name="id">3</param>
                <param name="initial_position">0.0</param>
                <param name="p_coeff">16</param>
                <param name="offset">789</param>
                <command_interface name="position"/>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

            <joint name="wrist_flex">
                <param name="id">4</param>
                <param name="initial_position">0.0</param>
                <param name="p_coeff">16</param>
                <param name="offset">674</param>
                <command_interface name="position"/>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <joint name="wrist_roll">
                <command_interface name="position">
                <param name="id">5</param>
                <param name="initial_position">0.0</param>
                <param name="p_coeff">16</param>
                <param name="offset">1655</param>
                <command_interface name="position"/>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>

            <joint name="gripper_joint">
                <param name="id">6</param>
                <param name="initial_position">0.0</param>
                <param name="p_coeff">16</param>
                <param name="offset">1064</param>
                <command_interface name="position"/>
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
